{% block content %}
    <h2>New Item</h2>
    <form method="POST" class="post-form" action={% if form_id is None %} {% url 'item_save' %} {% else %} {% url 'item_save' form_id %}{% endif %}>{% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
{% if wishlist %}
    <ul>
    {% for item in wishlist %}
        <li>
            #{{ item.position }}: {{ item.name }}
            (
                {% if item.url %}
                    <a
                        href="{{ item.url }}"
                    >
                {% endif %}
                    {{ item.store.name }}
                {% if item.url %}
                    </a>
                {% endif %}
            )
            <a href="{% url 'item_edit' item.id %}">EDIT</a>
            <a href="{% url 'item_delete' item.id %}">DELETE</a>
            </li>
    {% endfor %}
    </ul>
{% endif %}